a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_52bab2b0 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_52bab2b0:hover { background-color:#C0C0C0;  }
#button_52bab2b0:hover span { color:#525252; }
#button_11886076 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_11886076:hover { background-color:#C0C0C0;  }
#button_11886076:hover span { color:#525252; }
#button_32a9e224 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_32a9e224:hover { background-color:#C0C0C0;  }
#button_32a9e224:hover span { color:#525252; }
body { background-color:#21201C; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3a292b5c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_58465b21 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:155px; background-color:#21201C; background-image: url(rc_images/architecture_2575637_1200_stylized.jpg); background-position:top left; background-size:cover;  }
#container_58465b21_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_c131272 { vertical-align: top; position:relative; display: inline-block; width:51%; min-height:150px; background:none;  }
#container_c131272_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:22pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_64589801 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#21201C; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_18bafa13 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#21201C;  }
#container_18bafa13_padding { margin: 20px; display: block;  }
#container_12299969 { vertical-align: top; position:relative; display: inline-block; width:86%; min-height:86px; min-width:300px; background:none;  }
#container_12299969_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFA925;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#807AF9;  }
.textstyle10 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:26pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_632d7c06 { vertical-align: top; position:relative; display: inline-block; width:57%; min-height:316px; min-width:300px; background:none;  }
#container_632d7c06_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#C0C0C0; line-height: 1.5;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0; line-height: 1.5;  }
#container_6d1c74c3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#333438;  }
#container_6d1c74c3_padding { margin: 20px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0;  }
#container_2150fa7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#FFA925;  }
#container_2150fa7f_padding { margin: 20px; display: block;  }
.textstyle15 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_1bdf4e8c { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_1bdf4e8c_padding { margin: 10px; display: block;  }
#container_6409f847 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_6409f847_padding { margin: 10px; display: block;  }
#container_48916986 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_48916986_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#container_1bdf4e8c { width:100%;  }
		#container_6409f847 { width:100%;  }
		#container_48916986 { width:100%;  }
}
