a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_7048c57e { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_7048c57e:hover { background-color:#C0C0C0;  }
#button_7048c57e:hover span { color:#525252; }
#button_42abcd13 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_42abcd13:hover { background-color:#C0C0C0;  }
#button_42abcd13:hover span { color:#525252; }
#button_1cc482e9 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_1cc482e9:hover { background-color:#C0C0C0;  }
#button_1cc482e9:hover span { color:#525252; }
body { background-color:#242424; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_44cd065 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_1da27e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:155px; background-color:#21201C; background-image: url(rc_images/architecture_2575637_1200_stylized.jpg); background-position:top left; background-size:cover;  }
#container_1da27e3_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3e4c6bf { vertical-align: top; position:relative; display: inline-block; width:51%; min-height:150px; background:none;  }
#container_3e4c6bf_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:22pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_261211a2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#21201C; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_40cee31b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#21201C;  }
#container_40cee31b_padding { margin: 20px; display: block;  }
#container_3336ab6d { vertical-align: top; position:relative; display: inline-block; width:86%; min-height:86px; min-width:300px; background:none;  }
#container_3336ab6d_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFA925;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#807AF9;  }
.textstyle10 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:26pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_190c23ae { vertical-align: top; position:relative; display: inline-block; width:57%; min-height:316px; min-width:300px; background:none;  }
#container_190c23ae_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#C0C0C0; line-height: 1.5;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0; line-height: 1.5;  }
#container_47eb4cd5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#333438;  }
#container_47eb4cd5_padding { margin: 20px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0;  }
#container_2ea1b31f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#FFA925;  }
#container_2ea1b31f_padding { margin: 20px; display: block;  }
.textstyle15 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_464c17e1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_464c17e1_padding { margin: 10px; display: block;  }
#container_5be47000 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5be47000_padding { margin: 10px; display: block;  }
#container_30f911ac { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_30f911ac_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#container_464c17e1 { width:100%;  }
		#container_5be47000 { width:100%;  }
		#container_30f911ac { width:100%;  }
}
